<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-success w-100">
  <div class="container">
    <div class="row inline-content-sm w-100">
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <a class="navbar-brand text-white" routerLink="/show-all-product">AUCTION</a>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <form class="form-inline nowrap">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 text-white d-none d-md-block "
            type="submit">Search</button>
        </form>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/add-product">Sell Products</a>
                <a class="dropdown-item" routerLink="/my-product">My Products</a>
                <a class="dropdown-item" routerLink="/my-productbid">My Bids</a>
                <a class="dropdown-item" routerLink="/bid-won">Bids Won</a>
              </div>
            </li>
            <li *ngIf="isUserLoggedIn()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#" (click)="signout()">Log Out</a>
              </div>
            </li>
            <li *ngIf="!isUserLoggedIn()" class="nav-item dropdown">
              <a routerLink="/log-in" class="text-white nav-link ">Login / SignUp</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</nav>
<div style="height: 75px;">

</div>


<router-outlet></router-outlet>


<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/add-product" routerLinkActive="active">Add Product</a></li>
  </ul>
  <ul>
    <li><a routerLink="/show-all-product" routerLinkActive="active">Show All Product</a></li>
  </ul>
  <ul>
    <li><a routerLink="/view-product" routerLinkActive="active">View Product</a></li>
  </ul>
  <ul>
    <li><a routerLink="/edit-product" routerLinkActive="active">Edit Product</a></li>
  </ul>
  <ul>
    <li><a routerLink="/my-product" routerLinkActive="active">My Products</a></li>
  </ul>
  <ul>
    <li><a routerLink="/my-productbid" routerLinkActive="active">My Bids</a></li>
  </ul>
  <ul>
    <li><a routerLink="/bid-won" routerLinkActive="active">Bids Won</a></li>
  </ul>
  <ul>
    <li><a routerLink="/log-in" routerLinkActive="active">Log In / Sign In</a></li>
  </ul>
  <ul>
    <li><a routerLink="/make-productbid" routerLinkActive="active">Make Bid</a></li>
  </ul>
</nav>